.open-assigned-jobs-container {
    border: 3px solid blue;
    height: 30vh;
    overflow-x: auto;
}

/* .fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100vh;
    background-color: #7c1691;
}

.fixed_header th,
.fixed_header td {
    padding: 5px;
    text-align: center;
    width: 300px;
} */
