.hsc-form {
    width: 80%;
    background-color: white;
    /* margin: 0 auto; */
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
}

.hsc-lottie-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.hsc-lottie-animation {
    margin: 0 auto;
    border: 3px solid black;
    height: 250px;
    width: 500px;
}

.hsc-form-buttons {
    display: grid;
    grid-gap: 0.3rem;
    border: 3px solid black;
    margin: 0 auto;
    width: 500px;
}
