.master-screen-container {
    height: 100vh;
}

.header-container {
    height: 2.5vh;

    border-left-width: 0px;
    border-right-width: 0px;
}

.master-screen-heading {
    height: 5vh;

    background-color: lightcoral;
}

.content-container {
    border: 3px solid black;
    background-color: rgb(243, 245, 245);
    height: 92.5vh;
    overflow: scroll;
}

.footer-container {
    height: 2.5vh;
}
