* {
    box-sizing: border-box;
}
.App {
    text-align: center;
}

h1,
h3 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
