.open-listings-container {
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;

    height: 80vh;
    overflow-x: auto;

    border: none;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
}
